.main{
  width: 300px;
  border: 1px solid black;
  text-align: center;
  box-shadow: 2px 2px 10px green;
  margin: 10px;
  display: inline-block;
}

.main h2{
  color: green;
}

.main p{
  color: blue;
}