.card{
  border: 1px solid black;
  border-radius: 10px;
  max-width: 300px;
  margin: 10px;
  box-shadow: 4px 4px 10px rgb(106, 104, 243);
  text-align: center;
  display: inline-block;
}
.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-size: Arial, sans-serif;
  margin: 0px;
  color: rgb(226, 43, 43);
}

.card .card-text{
  font-size: Arial, sans-serif;
  color: rgb(64, 2, 105);
}

.student{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 2px;
  border: 1px solid red;

}

.student p {
  margin: 0;
}
